---
# tasks file for auditd
- name: upgrade all packages, excluding kernel & some related packages
  yum:
    name: '*'
    state: latest
    #exclude: kernel*,foo*
  tags: update_all

# Handler showing how to clean yum metadata cache
- name: yum-clean-metadata
  command: yum clean metadata
  args:
    warn: no

- name: install auditd
  yum:
    name:
     - audit 
     - audit-libs
    state: present
    #enablerepo: "base"
  notify: start auditd
  tags: install

# Push rules config file
- template:
    src: costum.rules.j2
    dest: /etc/audit/rules.d/costum.rules
    #backup: yes
  notify: restart auditd
  tags: config,perms,rules
